# Export
#exportPattern(".")
export(AASim)
export(ComputeAllEvidences)
export(FNPre)
export(GOKEGGSims)
export(GOKEGGSimsFromFile)
export(IntelliGOGeneSim)
export(JaccardSim)
export(KEGGSim)
export(RASim)
export(SVMPredict)
export(SVMTrain)
export(TCSSGeneSim)
export(TopologicSims)
# Import
import(GOSemSim)
importFrom(igraph,graph.data.frame)
importFrom(igraph,degree)
importFrom(igraph,get.vertex.attribute)
importFrom(igraph,neighborhood)
importFrom(igraph,similarity.jaccard)

importFrom(GO.db,GOBPANCESTOR)
importFrom(GO.db,GOBPOFFSPRING)
importFrom(GO.db,GOBPCHILDREN)
importFrom(GO.db,GOBPPARENTS)
importFrom(GO.db,GOCCANCESTOR)
importFrom(GO.db,GOCCOFFSPRING)
importFrom(GO.db,GOCCCHILDREN)
importFrom(GO.db,GOCCPARENTS)
importFrom(GO.db,GOMFANCESTOR)
importFrom(GO.db,GOMFOFFSPRING)
importFrom(GO.db,GOMFCHILDREN)
importFrom(GO.db,GOMFPARENTS)
importFrom(GO.db,GOTERM)

importMethodsFrom(AnnotationDbi,toTable)
importMethodsFrom(AnnotationDbi,mappedkeys)